body {
	font-family: 'Microsoft YaHei';
	background: #eee;
}

ul {
	margin:0px;
	padding:0px;
}

li {
	list-style-type:none;
}

a {
	font-family: 'Microsoft YaHei';
}

.header .logo {
	height: 50px;
}

.header .info {
	text-align: right;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
}

.header .info a {
	font-size: 20px;
}

@media screen and (max-width: 400px) {

	.header .info {
		font-size: 15px;
	}

	.header .info a {
		font-size: 15px;
	}
}

.mynav {
	text-align: center;
}

.mynav a {
	font-size: 20px;
	color: blue;
	margin: 0px 10px;
}

.mynav a.active {
	color: black;
}

.container {
	width: 100%; /*override bootstrap setting*/
	background: white;
}

.percent100 {
	width: 100%;
}

.nopadding {
	padding: 0px;
}

.slide {
	margin: 30px 0px;
}

.center {
	text-align: center;
}

.footer {
	padding-top: 30px;
	padding-bottom: 20px;
}

.post_form {
	padding-top: 30px;
}

.margin15 {
	margin-bottom: 15px;
}

.mypage {
	text-align: center;
}

.nomargin {
	margin: 0px;
}


















